<h1>Create New Figure</h1>
<form method="POST" action="/figures">
  Figure Name: <input id="figure_name" type="text" name="figure[name]"><br>
  New Landmark Name: <input id="new_landmark" type="text" name="landmark[name]"><br>
  New Landmark Year: <input type="text" name="landmark[year_completed]"><br>
  New Title Name: <input id="new_title" type="text" name="title[name]"><br>

  <h2>Choose Existing Landmark:</h2>
  <%Landmark.all.each do |landmark| %>
  <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"> <%=landmark.name %></input>
  <% end %>
  <br>

  <h2>Choose Existing Title:</h2>
  <% Title.all.each do |title| %>
  <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"> <%= title.name %></input>
  <% end %>
  <br><br>
  <input type="submit" value="Create New Figure">
</form>
